@model GameModel
@inject IGameSettings GameSettings

@{
    ViewData["Title"] = "Welcome";
    Layout = "_LayoutGame";

    UserShipsLocationViewModel userShipsLocationVM = new UserShipsLocationViewModel();
    if (TempData[nameof(UserShipsLocationViewModel)] is string serializedVm)
    {
        userShipsLocationVM = Newtonsoft.Json.JsonConvert.DeserializeObject<UserShipsLocationViewModel>(serializedVm);
    }
}


<div class="page-header">
    <h2>Welcome to Battleships game!</h2>
    <p>Please place all your ships on board below</p>
</div>


<form method="post">
    <div class="well well-lg col-md-12">
        <div class="col-md-6">
            <table id="table-user-input">
                <tr>
                    <th></th>
                    @for (int col = 65; col < 65 + GameSettings.BoardSizeX; col++)
                    {
                        <th>&#@col;</th>
                    }
                </tr>
                @for (int row = 0; row < GameSettings.BoardSizeY; row++)
                {
                    <tr>
                        <th>@(row + 1)</th>
                        @for (int col = 0; col < GameSettings.BoardSizeX; col++)
                        {
                            <td>
                                <div class="board-cell">
                                    <label class="lbl-check">
                                        <button type="button" class="btn btn-check" disabled />
                                        <input type="checkbox" class="cbx-check hidden" autocomplete="off"
                                               asp-for="@Model.ShipsFields[row * GameSettings.BoardSizeY + col]" />
                                    </label>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <p>Place your ships in straight line:</p>
            <ul>
                <li>1x Battleship (5 squares)</li>
                <li>2x Destroyers (4 squares)</li>
            </ul>
            @{await Html.RenderPartialAsync("_ShipPositionInputPartial", userShipsLocationVM);}
        </div>
    </div>

    <button type="submit" class="btn btn-primary" name="startGame" asp-action="Create" method="post">Start</button>
    <button type="reset" class="btn btn-primary" id="btn-reset" value="Reset">Clear</button>

</form>
