@model BattleShips.Web.Models.UserShipsLocationViewModel
@inject IGameSettings gameSettings

<table class="ships-input">
    <thead>
        <tr>
            <th class="col-xs-2">From</th>
            <th class="col-xs-2">To</th>
            <th class="col-xs-8" />
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < gameSettings.ShipSizes.Count; i++)
        {
            <tr>
                <td>
                    <input asp-for="ShipsUserCoordinates[i].Key.UserCoordinate" class="ship-coordinate-input">
                </td>
                <td>
                    <input asp-for="ShipsUserCoordinates[i].Value.UserCoordinate" class="ship-coordinate-input">
                </td>
                <td>
                    <span asp-validation-for="ShipsUserCoordinates[i]" class="text-danger"></span>
                    <span asp-validation-for="ShipsUserCoordinates[i].Key.UserCoordinate" class="text-danger"></span>
                    <span asp-validation-for="ShipsUserCoordinates[i].Value.UserCoordinate" class="text-danger"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<button type="submit" class="btn btn-primary" asp-action="CheckShips">Show</button>
