/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Board headers
-------------------------------------------------- */
table tr th {
    text-align: center;
}

/* Ships input table
 ------------------------------------------------- */
.ships-input tr td {
    padding: 5px;
}

.ship-coordinate-input {
    width: 100%;
}

/* Board checkers
-------------------------------------------------- */
:root {
    --empty-cell-bg-color: lightblue;
    --ship-cell-bg-color: black;
    --cell-bg-color: lightblue;
}

.board-cell {
    margin: 5px;
    height: 30px;
    width: 30px;
}

.btn-check {
    height: 30px;
    width: 30px;
    background-color: var(--empty-cell-bg-color);
}

.btn-check.ship {
    opacity: 0.5;
    background-color: var(--ship-cell-bg-color);
}

@keyframes hitting {
    from {
        background-color: var(--empty-cell-bg-color);
    }
    
    to {
        background-color: red;
    }
}

.cell.is-hit {
    opacity: 1;
    animation-name: hitting;
    animation-duration: 1s;
    border-radius: 50%;
    background-color: red;
    position: center;
    height: 6px;
    width: 6px;
}

/* UserCommunication
-------------------------------------------------- */
.animate-writing-1 {
    animation-name: writing;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.animate-writing-2 {
    animation-name: writing;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.animate-writing-3 {
    animation-name: writing;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

.animate-writing-4 {
    animation-name: writing;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.animate-writing-5 {
    animation-name: writing;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

@keyframes writing {
    from {
        color: transparent;
    }

    to {
        color: black;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
